<section class="step-section px-20 py-16 border-b border-[rgba(0,120,212,0.25)] max-[900px]:px-6 max-[900px]:py-10" id="step4">
    <div class="flex items-start gap-5 mb-10">
      <div class="shrink-0 w-12 h-12 rounded-xl bg-gradient-to-br from-azure-dark to-azure flex items-center justify-center font-syne font-extrabold text-xl text-white shadow-[0_4px_20px_rgba(0,120,212,0.3)]">4</div>
      <div>
        <h2 class="font-syne font-bold text-[28px] text-[#e8f0f8] mb-[6px]">Detalles de la build</h2>
        <p class="text-muted text-[15px]">Aquí es donde le dices a Azure cómo construir tu sitio. En la sección Build Details, elige el ajuste preestablecido según tu tecnología:</p>
        <ul>
            <li><strong>App location:</strong> Donde está tu código (usualmente /).</li>
            <li><strong>Api location:</strong> Déjalo vacío ya que solo es una web estática.</li>
            <li><strong>Output location:</strong> La carpeta donde se genera el sitio listo para producción (por ejemplo, dist, build, o simplemente el root / si es HTML puro).</li>
        </ul>
      </div>
    </div>
    <!-- <div class="flex justify-between items-center mt-12 pt-8 border-t border-[rgba(0,120,212,0.25)]">
        <button class="btn-secondary inline-flex items-center gap-2 px-6 py-3 rounded-lg font-syne font-semibold text-sm cursor-pointer transition-all duration-200 bg-surface2 text-muted border border-[rgba(0,120,212,0.25)]" onclick="goTo('step2')">← Paso anterior</button>
        <button class="btn-primary inline-flex items-center gap-2 px-6 py-3 rounded-lg font-syne font-semibold text-sm cursor-pointer transition-all duration-200 bg-azure text-white border-none" onclick="goTo('step4')">Paso 3: Crear recurso Azure →</button>
    </div> -->
</section>