<section class="step-section px-20 py-16 border-b border-[rgba(0,120,212,0.25)] max-[900px]:px-6 max-[900px]:py-10" id="step3">
    <div class="flex items-start gap-5 mb-10">
      <div class="shrink-0 w-12 h-12 rounded-xl bg-gradient-to-br from-azure-dark to-azure flex items-center justify-center font-syne font-extrabold text-xl text-white shadow-[0_4px_20px_rgba(0,120,212,0.3)]">3</div>
      <div>
        <h2 class="font-syne font-bold text-[28px] text-[#e8f0f8] mb-[6px]">Configurar el despliegue</h2>
        <p class="text-muted text-[15px]">En la misma pantalla de creación, deberás conectar tu cuenta de Git:</p>
      </div>
    </div>
 
    <div class="grid gap-6">
      <div class="flex flex-col gap-4">
        <div class="flex gap-4 items-start">
          <div class="w-8 h-8 rounded-full bg-[rgba(0,120,212,0.15)] border border-[rgba(0,120,212,0.25)] flex items-center justify-center font-mono text-xs text-azure-light shrink-0 mt-[2px]">1</div>
          <div>
            <h4 class="font-syne font-semibold text-[15px] text-[#e8f0f8] mb-1">Selecciona GitHub (o Azure DevOps) como origen.</h4>
          </div>
        </div>
        <div class="flex gap-4 items-start">
          <div class="w-8 h-8 rounded-full bg-[rgba(0,120,212,0.15)] border border-[rgba(0,120,212,0.25)] flex items-center justify-center font-mono text-xs text-azure-light shrink-0 mt-[2px]">2</div>
          <div>
            <h4 class="font-syne font-semibold text-[15px] text-[#e8f0f8] mb-1">Inicia sesión y selecciona tu Organización, Repositorio y Rama.</h4>
          </div>
        </div>
      </div>
        <div class="rounded-[10px] p-4 px-5 flex gap-3 items-start text-sm bg-[rgba(0,212,170,0.08)] border border-[rgba(0,212,170,0.25)] text-[#a0e8d8]">
            <span class="text-lg shrink-0">🚀</span>
            <div>Recuerda usar la rama que corresponda de tu repositorio(main o master por lo general)</div>
        </div>
    </div>
    
    <!-- <div class="flex justify-between items-center mt-12 pt-8 border-t border-[rgba(0,120,212,0.25)]">
        <button class="btn-secondary inline-flex items-center gap-2 px-6 py-3 rounded-lg font-syne font-semibold text-sm cursor-pointer transition-all duration-200 bg-surface2 text-muted border border-[rgba(0,120,212,0.25)]" onclick="goTo('step2')">← Paso anterior</button>
        <button class="btn-primary inline-flex items-center gap-2 px-6 py-3 rounded-lg font-syne font-semibold text-sm cursor-pointer transition-all duration-200 bg-azure text-white border-none" onclick="goTo('step4')">Paso 3: Crear recurso Azure →</button>
    </div> -->
</section>